@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --header-font: 'Bebas Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-font: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #f6f6f6;
  --secondary-color: #1c1c1c;
  --accent-color: #2c2c2c;
  --hover-color: #d40419;
  --bg-color-dark: #161616;
  --secondary-text: #858585;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

p {
  font-size: 12px;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

a:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

#logo {
  cursor: pointer;
  text-decoration: none;
}

body {
  background: var(--bg-color-dark);
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main h1 {
  text-align: center;
}

button {
  border-radius: 10px;
  border: 3px solid var(--accent-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#searchBtn {
  margin-left: 20px;
}

main {
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 16px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1em 2em;
  align-items: center;
}

.nav-item {
  padding: 0 2rem;
  list-style: none;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}

.active {
  font-weight: 700;
}

#searchSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 3px solid var(--accent-color);
  font-family: var(--primary-font);
  font-size: 16px;
  padding-left: 10px;

}

input::placeholder {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;

}

input:focus {
  outline: var(--primary-color) solid 3px;
}

#searchBtn:focus {
  outline: var(--primary-color) solid 3px;
}


/* Film Card Styles */
.filmCard {
  margin: 30px auto;
  height: 200px;
  width: 800px;
  background-color: var(--secondary-color);
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.filmCard figure,
.filmCard img {
  height: 100%;
  border-radius: 10px 0 0 10px;
  /* width: 100%; */
  /* object-fit: cover;
  border-radius: 10px 10px 0 0; */
}

.filmCard .details,
.filmCard .plot {
  padding: 20px;
  flex-basis: 300px;
  align-self: center;
}

.filmCard .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-direction: column;

}

@media screen and (max-width: 768px) {
  nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  .nav {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .pageHeader {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input {
    margin: 20px 0;
    height: 75px;
    font-size: 32px;

  }

  form input::placeholder {
    font-size: 32px;
  }

  form button {
    font-size: 32px;
  }

  .filmCard {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: 3px solid var(--accent-color);
    border-radius: 10px;
  }

  .filmCard figure,
  .filmCard img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
  }

  .filmCard .details,
  .filmCard .plot {
    padding: 20px;
    flex-basis: 100%;
  }

  .filmCard .icons {
    flex-direction: row;
  }

}